<div class="row tglip-top-header">
  <div class="col-xs-12 logo">
    <img src="<%= asset_path('tglipM.jpg') %>" />
  </div>
  <div class="col-xs-12 header-heading">
    <h1>5 Star Social initiative</h1>
  </div>
</div>

<div class="tglip-home container">  
  <div class="tglip-tree-container">
    <div class="tree-image">
      <img src="<%= asset_path('tglip-tree.png') %>" />
    </div>
    <div class="tree-content bold">
      <p>Improve the environment by planting a tree with a click on the occassion of World Environment Day.</p>
    </div>
  </div>
  <div class="tglip-powered">
    <div class="tglip-powered-text bold">
      <h1>Powered By</h1>
    </div>
    <div class="tglip-powered-image">
      <img src="<%= asset_path('sankalp-taru-logo.png') %>" />
    </div>
  </div>
</div>
