<div class="inaugrate-campaign">
  <div class="inaugrate-msg">
    <p>Inaugurate the campaign with your pioneer tree.</p>
  </div>
  <div class="person-details">
    <form>
      Name: <input type="text" name="name"><br>
      Email: <input type="email" name="email"><br>
      Password: <input type="password" name="password"><br>
      <input type="submit" value="Click here">
    </form>
  </div>
</div>