.inaugrate-campaign{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .inaugrate-msg {
    text-align: center;
    p {
      font-size: 30px;
    }
  }
  .person-details {
    .submit {
      width: 100%;
    }
  }
}